ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #937341;
  color: #23201D;
}
.invisible {
  display: none;
}
.lol {
  background: url(http://www.gamer.ru/system/attached_images/images/000/596/839/original/1354986576_logo-league-of-legends.png);
  height: 200px;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}